<h1>Activity</h1>

<% @activities.each do |activity| %>
  <ul class="list-group mt-4">
    <li class="list-group-item"><b>Owner</b>: <%= activity.owner %></li>
    <li class="list-group-item"><b>Resource:</b> <%= activity.trackable_type %></li>
    <li class="list-group-item"><b>Action:</b> <%= activity.key %></li>
    <li class="list-group-item"><%= link_to 'View course', activity.trackable %></li>
  </ul>  
<% end %>
