<p style="color: green"><%= notice %></p>

<h1>Lessons</h1>

<%= link_to "New lesson", new_lesson_path, class: "btn btn-success" %>
<div id="lessons">
  <% @lessons.each do |lesson| %>
    <%= render lesson %>
  <% end %>
</div>
