<div class="h-100 p-5 bg-dark rounded-3 mt-5">
  <h1 class="display-6 text-light">Editing course</h1>
  <%= render "form", course: @course %>
</div>
<br>

<div>
  <%= link_to "Show this course", @course %> |
  <%= link_to "Back to courses", courses_path %>
</div>
