<div class="container text-center fixed-bottom bg-dark text-light">
  <div class="row">
    <div class="col g-col-6 g-col-md-4">
      Column
    </div>
    <div class="col g-col-6 g-col-md-4">
      Column
    </div>
    <div class="col g-col-6 g-col-md-4">
      Column
    </div>
  </div>
</div>